In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("columns.txt", sep="\t", header=0)

In [23]:
df

         star_rating  total_votes
0                  5            0
1                  5            0
2                  1            1
3                  3            0
4                  4            0
...              ...          ...
1785992            5            1
1785993            5            2
1785994            1            2
1785995            1            3
1785996            5            1

[1785997 rows x 2 columns]

In [ ]:
#Saving the file without the header becuase the Kmeans library requires files without headers.

In [25]:
df.to_csv("amazon1.txt", header = False, index = 0, sep = "\t")