In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("columns.txt", sep="\t", header=0)

In [3]:
df.head()

   star_rating  total_votes
0            5            0
1            5            0
2            1            1
3            3            0
4            4            0

In [4]:
df.to_csv("amazon.txt", header = False)

In [ ]:
#Saving the file without the header becuase the Kmeans library requires files without headers.

In [7]:
df = pd.read_csv("amazon.txt", sep="\t",header=0)

In [8]:
df.head()

   0,5,0
0  1,5,0
1  2,1,1
2  3,3,0
3  4,4,0
4  5,1,0